##Begin DrawSearchParams
## Draws the "you searched for" labels on results page
## This should only be called by places that are checking if we have criteria to display.
#macro(DrawSearchParams $PageData)

    <a href="#" class="ctscb" id="ctscb">Show Search Criteria</a>
    <div class="search-criteria-box" aria-expanded="false" aria-labelledby="ctscb">
      <div class="clinicaltrials-results-criteria-display">
        <h3>Your Search Criteria</h3>
        <table class="table no-auto-enlarge" style="width: 100%;">
            <thead>
                <tr>
                  <th class="hdrlft" scope="col"><h3>Category</h3></th>
                  <th class="hdrrt" scope="col"><h3>Your Selection</h3></th>
                </tr>
            </thead>
            <tbody>
                #foreach($criterion in $PageData.Criteria)
                #each
                    <tr>
                        <td class="hdrlft"><strong>${criterion.Label}:</strong></td>
                        <td>$criterion.Value</td>
                    </tr>
                #end
            </tbody>
        </table>
      </div>
    </div>
#end##
##
##End DrawSearchParams
##
##Begin Common Location Drawing
###############################
## Draws a Single Location Item
#macro(DrawLocation $loc $showStatus $showCityState)
<div itemprop="location" itemscope="" itemtype="http://schema.org/Place" class="locationBlock">
  <strong itemprop="name">$loc.org_name</strong>
  #if($showStatus)
  <br>Status: $PageData.TrialTools.GetNormalizedString($loc.recruitment_status)##
  #end
  #if($showCityState)##
  <br>
  <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
    <meta itemprop="addressCountry" content="$loc.org_country" />
    <span itemprop="addressLocality">$loc.org_city</span>##
#if (!$Tools.IsNullOrWhitespace($loc.org_state_or_province))##
, <span itemprop="addressRegion">$loc.org_state_or_province</span>
#end##
#end##
#if (!$Tools.IsNullOrWhitespace($loc.contact_name))##
<br>Contact: $loc.contact_name
#else
<br>Name Not Available
#end
#if (!$Tools.IsNullOrWhitespace($loc.contact_phone))##
<br>Phone: $loc.contact_phone
#end
#if (!$Tools.IsNullOrWhitespace($loc.contact_email))
<br>Email: <a href="mailto:$loc.contact_email">$loc.contact_email</a>
#end
  </span>
</div>
#end
##
#############
## Macro to draw study sites for use by "Locations Near You" and The Print version
#macro(DrawSitesForNormal $sites $showStatus)
  #set ($sortedLocations = $PageData.TrialTools.GetSortedSites($sites))
  #set ($allLocations = $PageData.TrialTools.GetGroupedSites($sortedLocations))

  ## Groups should be U.S.A., Canada, or Other
  #foreach($group in $allLocations)
  #each
    <h3 class="locationCountryLabel">$group.key</h3>
    #foreach($subgroup in $group.value)
    #each
      <h4>$subgroup.key</h4>
        #foreach($citygroup in $subgroup.value)
        #each
          <h5 class="locationCity">$citygroup.key</h5>
            #foreach($loc in $citygroup.value)
            #each
                #DrawLocation($loc $showStatus false)
            #end
        #end
    #end
  #end
#end
##
##End Common Location Drawing
##
#macro(DrawResultsTextV2)##
	#foreach($trial in $resultSet)
		<div class="trialContainer">
			<h2 class="hangingIndent">$velocityCount. $trial.brief_title</h2>
			##<!-- Check search terms and set them if they are used -->
            #set($checkURL = $Tools.Replace($PageData.LinkTemplate, "<TRIAL_ID>", $trial.nci_id.Value()))
			<a class="hangingIndent print-check-for-updates" href="$checkURL"><span>Check for Updates</span></a>
			<table class="trialDataTable">
				<tr class="trialDataHeaderRow">
					<td>Phase</td>
					<td>Type</td>
					<td>Status</td>
					<td>Age</td>
					<td>Trial IDs</td>
				</tr>
				<tr>
					<td>$PageData.TrialTools.GetPhase($trial)</td>
					<td>$PageData.TrialTools.GetTrialType($trial)</td>
					<td>$trial.current_trial_status</td>
					<td>$trial.eligibility.structured.min_age_number
						#if($trial.eligibility.structured.max_age_number == 999)
							and over
						#else
							to $trial.eligibility.structured.max_age_number years
						#end

						</td>
					<td class="trialIDCell">
						<span class = "dataTableIDLabel">Primary ID</span> $trial.protocol_id<br>
						<span class = "dataTableIDLabel">Secondary IDs</span> $PageData.TrialTools.GetSecondaryIDsString($trial)<br>
						<span class = "dataTableIDLabel">Clinicaltrials.gov ID</span> <a class="nctIdLink" href="http://clinicaltrials.gov/show/$trial.nct_id" target="_blank">$trial.nct_id</a><br>
					</td>
			</table>

			<h3>Description</h3>
			<div>$trial.brief_summary</div>

			<h3 class="printHeading">Eligibility Criteria</h3>

			## Find inclusion and exclusion criteria
			#set($inclusionCriteria =  [])
			#set($exclusionCriteria =  [])
			## This seems necessary because velocity sucks
			#set($inclusionBool = false)
			#set($exclusionBool = false)
			#foreach($criterion in $trial.eligibility.unstructured)
				#each
					#if($criterion.inclusion_indicator == true)
						#set($trash = $inclusionCriteria.add($criterion))
						#if($inclusionBool == false)
							#set($inclusionBool = true)
						#end
					#else
						#set($trash = $exclusionCriteria.add($criterion))
						#if($exclusionBool == false)
							#set($exclusionBool = true)
						#end
				#end
			#end
			#if($inclusionBool == true)
				<h4>Inclusion Criteria</h4>
				#foreach($include in $inclusionCriteria)
					#each
					<li>$include.description</li>
					#before
						<div>
							<ul>
					#after
							</ul>
						</div>
				#end
			#end
			#if($exclusionBool == true)
				<h4>Exclusion Criteria</h4>
				#foreach($criterion in $exclusionCriteria)
					#each
						<li>$criterion.description</li>
					#before
						<div>
							<ul>
					#after
							</ul>
						</div>
				#end
			#end

			#if(!$Tools.IsNullOrWhitespace($trial.detail_description))
				<h3 class="printHeading">Trial Objectives and Outlines</h3>
				<div id="trialObjectives">$PageData.TrialTools.GetPrettyDescription($trial)</div>
			#end

			#if(!$Tools.IsNullOrWhitespace($trial.lead_org) || !$Tools.IsNullOrWhitespace($trial.principal_investigator))
				<h3 class="printHeading">Lead Organization</h3>
				#if(!$Tools.IsNullOrWhitespace($trial.lead_org))
					<div>$trial.lead_org</div>
				#end
				#if(!$Tools.IsNullOrWhitespace($trial.principal_investigator))
					<div>Principal Investigator: $trial.principal_investigator</div>
				#end
			#end
			<h3 class="printHeading">Locations & Contacts</h3>
			<div class="locationNoteBlock">
				<span>Note:</span> Information about participating sites on pharmaceutical industry trials may be incomplete, so please look up the <a class="nctIdLink" href="http://clinicaltrials.gov/show/$trial.nct_id" target="_blank">NCT number</a> on ClinicalTrials.gov
			</div>
			<div>
				#if (($PageData.LocationData.IsVAOnly && $PageData.LocationData.LocationType != "Hospital") || ($PageData.LocationData.LocationType == "CountryCityState" || $PageData.LocationData.LocationType == "Zip" || $PageData.LocationData.LocationType == "AtNIH"))##
					#set($locationsToPrint = $PageData.TrialTools.GetFilteredLocations($trial.sites, $PageData.LocationData))
				#else
					#set($locationsToPrint =  $trial.sites)
				#end
				#DrawSitesForNormal($locationsToPrint false)
			</div>
		</div>
	#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
	 <meta name="robots" content="noindex">
	 <title>Clinical Trial Search Results</title>
	 <script src="//assets.adobedtm.com/f1bfa9f7170c81b1a9a9ecdcc6c5215ee0b03c84/satelliteLib-5b3dcf1f2676c378b518a1583ef5355acd83cd3d.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script src="/CTS.Print-js/BasicCTSPrintPage.js" type="text/javascript"></script>

	 <link rel="stylesheet" id="gFonts" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" />
	 <link href="/CTS.Print-styles/nvcg.css" rel="stylesheet" />
	 <link href="/CTS.Print-styles/BasicCTSPrintPage.css" rel="stylesheet" />
	 <meta name="dcterms.subject" content="Clinical Trials Print Results Page" />
</head>
<body>
	<div class="wa-data-element hide" data-prop3="/" data-prop6="Comprehensive Cancer Information" data-prop16="Comprehensive Cancer Information" data-prop25="01/01/1980" data-prop44="Clinical Trials" data-prop62="Clinical Trials: Print Results Page" data-evar44="Clinical Trials" data-evar62="Clinical Trials: Print Results Page" ></div>
	<div id="cgovContainer">
		<div id="CT-results-print-banner"><img id="NCILogo" src="https://www.cancer.gov/profiles/custom/cgov_site/themes/custom/cgov/static/images/design-elements/logos/nci-logo-full.svg" alt="NCI Logo"/></div>
		<div id="cgvBody">
			<div id="bodyHeading">
				<div id="headingWrapper">
					<h1 id="ctPrintBodyHeading">Your Clinical Trials Search Results</h1>
					<div id="bodyHeadingLinks">
						<a id="printPage" href="javascript:window.print();">Print</a> |
						<a id="ctl10_EmailResults" href="${generatePrintURL}" target="_blank">E-Mail These Results</a> |
						<a id="newSearch" href="$PageData.NewSearchLink">New Search</a>
					</div>
				</div>
			</div>
				<div id="clinical-trials-print">

					#set($resultSet =  $PageData.Results)

	        		#if($PageData.Criteria.Count != 0)
						#DrawSearchParams($PageData)
					#end##

                    <p class="printIntroText">Here are the trials you selected from your search on $Tools.GetDate("M/d/yyyy").</p>
					<p class="printIntroText">You will be able to access this page for approximately 90 days. Since trial information is updated regularly, you should check for updates to see the most current information on any of the trials below.</p>


				<div>
					#DrawResultsTextV2()
				</div>
			</div>
		</div>
	</div>

	<!-- DTM PAGEBOTTOM TAG - DO NOT MODIFY -->
	<script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>