<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Rendering Test</title>
</head>
<body>
    <h1>Criteria Rendering</h1>
#foreach($item in $PageData.Parameters)
    - $item.Label: $item.Value<br />
#end

    <h1>Trial Rendering</h1>
#foreach($item in $PageData.Results)
    - $item.nci_id<br>
#end
</body>
</html>