<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="clinicalTrialSearchAPI" type="CancerGov.ClinicalTrials.Basic.v2.Configuration.BasicClinicalTrialSearchAPISection, CancerGov.BasicCTSv2" />
  </configSections>

  <clinicalTrialSearchAPI apiProtocol="https" apiHost="clinicaltrialsapi.cancer.gov" apiPort="443" />

  <connectionStrings configSource="localConfig\connectionStrings.config">
  </connectionStrings>

  <!--
  Configuration for common.logging factory adapters.  The MultiLoggerFactoryAdapter allows more than one logging factory to
  be specified - eack key should start with a name for the factory, and the remainder following the period becomes a key in the
  configuration passed to the factory's constructor.  The factoryAdapter key is used to specify the class and assembly of the
  desired factory adapter.
    -->
  <!--<common>
    <logging>
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core">
        <arg key="EmailLogger.factoryAdapter" value="NCI.Logging.Factories.EmailLoggerFactoryAdapter, NCILibrary.Core"/>
        <arg key="EmailLogger.level" value="FATAL"/>
        <arg key="EmailLogger.emailAddressFrom" value="CancerGovTEST@mail.nih.gov"/>
        <arg key="EmailLogger.emailAddressesTo" value="CancerGovTEST@mail.nih.gov"/>
        <arg key="EventLogger.factoryAdapter" value="NCI.Logging.Factories.EventLoggerFactoryAdapter, NCILibrary.Core"/>
        <arg key="EventLogger.level" value="DEBUG"/>
        <arg key="EventLogger.logSource" value="CDECancerGov"/>
      </factoryAdapter>
    </logging>
  </common>-->

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="CTSNewPrintRequestHandler" path="CTS.Print/GenCache" verb="POST" type="NCI.OCPL.ClinicalTrialSearchPrint.CTSPrintRequestHandler, NCI.OCPL.ClinicalTrialSearchPrint" />
      <add name="CTSCachedPrintRequestHandler" path="CTS.Print/Display" verb="GET" type="NCI.OCPL.ClinicalTrialSearchPrint.CTSPrintRequestHandler, NCI.OCPL.ClinicalTrialSearchPrint" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>