<?xml version="1.0" encoding="utf-8"?>
<!--
  Contents of this file are tightly coupled to the tests in ClinicalTrialSearchAPISection_Test.cs.
  
  Changes to this file must, must, must also be reflected in the tests, and vice versa.
  -->
<configuration>
  <configSections>
    <section name="clinicalTrialSearchAPI" type="CancerGov.ClinicalTrialsAPI.ClinicalTrialSearchAPISection, CancerGov.ClinicalTrialsAPI" />
  </configSections>

  <clinicalTrialSearchAPI baseUrl="https://someserver/some-path" ClinicalTrialsAPIKey_VAR="ClinicalTrialsAPIKey_VAR_TEST_KEY" />
</configuration>
